harfiles/
__pycache__/
*.py[codz]
*$py.class
*.so
.DS_Store
.env
.venv
env/
venv/
.idea/
.vscode/
*.egg-info/
dist/
!weather_planner/frontend/dist/
build/
.pytest_cache/
.ruff_cache/
__pypackages__/
*.log
